

<div><img src="https://www.pashabank.az/templates/images/red_bottom_bg.webp" alt="" style="width: 100%;"></div>

<div class="drop" style="background-color: #0E5E1B; margin-bottom: 0;">
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="btn-group dropup">    
                <button type="button" class="btn dropdown-toggle design" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-phone" style="margin-right: 10px;"></i>  Filiallar və Bankomatlar</button>
                <div class="dropdown-menu" style="width: 100%; background-color: #0E5E1B;">
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Baş ofis</a><hr>
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Filiallar</a><hr>
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Bankomatlar və <br> Avtomatik valyuta <br> dəyişmə terminalları</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="btn-group dropup">    
                <button type="button" class="btn dropdown-toggle design" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe" style="margin-right: 10px;"></i>Əməliyyat ölkələri</button>
                <div class="dropdown-menu" style="width: 100%; background-color: #0E5E1B;">
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Azərbaycan</a><hr>
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Türkiyə</a><hr>
                    <a class="dropdown-item" style="font-size: 13px; color: #fff; background-color: #0E5E1B;" href="#">Gürcüstan</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="btn-group dropup">    
                <button type="button" class="btn design" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i>Maliyyə Hesabatları</button>
              </div>
        </div>
        <div class="col-3">
            <div class="btn-group dropup">    
                <button type="button" class="btn design" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-comment-alt" style="margin-right: 10px;"></i>Təklif və Şikayətlər</button>
              </div>
        </div>
      </div>
    </div>

                    

</div>
<footer class="footer">
<div class="container bottom_border" style="width: 72%;">
<div class="row">
<div class="col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Haqqımızda </a></li>
<li><a href="http://webenlance.com">Haqqımızda </a></li>
<li><a href="http://webenlance.com">Missiya və Məqsədlər</a></li>
<li><a href="http://webenlance.com">İdarəetmə</a></li>
<li><a href="http://webenlance.com">Struktur</a></li>
<li><a href="http://webenlance.com">Karyera</a></li>
<li><a href="http://webenlance.com">Əlaqə</a></li>
<li><a href="http://webenlance.com">Banklar arası müxbir əlaqələr</a></li>
<li><a href="http://webenlance.com">Sosial məsuliyyət</a></li>
<li><a href="http://webenlance.com">Siyasət və hesabatlılıq</a></li>
<li><a href="http://webenlance.com">Maliyyə hesabatları</a></li>
<li><a href="http://webenlance.com">Davamlı İnkişaf</a></li>
<li style="margin-bottom: 60px;"><a href="http://webenlance.com">Risklərin idarə olunması</a></li>
<li><a href="http://webenlance.com">Maliyyə İnstitutları</a></li>
<li><a href="http://webenlance.com">Müxbir hesablar</a></li>
<li><a href="http://webenlance.com">Valyuta Mübadilə Əməliyyatları</a></li>
</ul>
</div>


<div class="col-sm-4 col-md col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Korporativ Bankçılıq</a></li>
<li><a href="http://webenlance.com">Hesablaşma-kassa xidmətləri</a></li>
<li><a href="http://webenlance.com">Depozitlər</a></li>
<li><a href="http://webenlance.com">İnkassasiya</a></li>
<li><a href="http://webenlance.com">Bank seyfləri</a></li>
<li><a href="http://webenlance.com">Bank kartları</a></li>
<li><a href="http://webenlance.com">Korporativ kreditləşmə</a></li>
<li><a href="http://webenlance.com">Faktorinq xidmətləri</a></li>
<li><a href="http://webenlance.com">Sənədli Əməliyyatlar</a></li>
<li><a href="http://webenlance.com">Ekvayrinq (POS Terminal) Xidmətləri</a></li>
<li><a href="http://webenlance.com">Distant bank xidmətləri</a></li>
<li><a href="http://webenlance.com">Qeyri-maliyyə xidmətləri</a></li>
<li style="margin-bottom: 40px;"><a href="http://webenlance.com">Ümumi Şərtlər Toplusu və ona əlavələr</a></li>
<li><a href="http://webenlance.com">Fərdi Bankçılıq </a></li>
<li><a href="http://webenlance.com">Private Banking</a></li>
<li><a href="http://webenlance.com">Hesablaşma-kassa xidmətləri</a></li>
<li><a href="http://webenlance.com">Depozitlər</a></li>
<li><a href="http://webenlance.com">Bank seyfləri</a></li>
<li><a href="http://webenlance.com">Bank kartları</a></li>
<li><a href="http://webenlance.com">Distant bank xidmətləri</a></li>
<li><a href="http://webenlance.com">Əlaqə Mərkəzi</a></li>
<li><a href="http://webenlance.com">Kreditlər</a></li>
<li><a href="http://webenlance.com">Fərdi müştərilər üçün Mobil əlavə</a></li>
<li><a href="http://webenlance.com">Endirim Platforması</a></li>
<li><a href="http://webenlance.com">Onlayn xidmətlər</a></li>
<li><a href="http://webenlance.com">Ümumi Şərtlər Toplusu</a></li>
</ul>
</div>


<div class=" col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Kiçik və Orta Biznes</a></li>
<li><a href="http://webenlance.com">Biznes üçün xidmətlər</a></li>
<li><a href="http://webenlance.com">Kreditlər</a></li>
<li><a href="http://webenlance.com">Faktorinq</a></li>
<li><a href="http://webenlance.com">Sənədli Əməliyyatlar</a></li>
<li style="margin-bottom: 227px;"><a href="http://webenlance.com">Digər xidmətlər</a></li>
<li><a href="http://webenlance.com">Xəbərlər</a></li>
<li><a href="http://webenlance.com">Press-relizlər</a></li>
<li><a href="http://webenlance.com">Bülleten</a></li>
</ul>
</div>


<div class=" col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">İnvestisiya Bankçılığı</a></li>
<li><a href="http://webenlance.com">Səhmlərin buraxılması, idarə olunması və alınması</a></li>
<li><a href="http://webenlance.com">İstiqrazların buraxılması, idarə olunması və alınması</a></li>
<li><a href="http://webenlance.com">Qapalı yerləşdirmə</a></li>
<li><a href="http://webenlance.com">Maliyyə məsləhətlərinin verilməsi</a></li>
<li><a href="http://webenlance.com">Valyuta mübadiləsi</a></li>
<li><a href="http://webenlance.com">Törəmə maliyyə alətləri (derivativlər)</a></li>
<li><a href="http://webenlance.com">Qiymətli kağızların alışı və satışının icra edilməsi</a></li>
<li style="margin-bottom: 80px;"><a href="http://webenlance.com">Qiymətli kağızların alışı və satışı üzrə əqdlər</a></li>
<li><a href="http://webenlance.com">Əlaqə</a></li>
<li><a href="http://webenlance.com">Ünvan</a></li>
<li><a href="http://webenlance.com">Müxbir əlaqələr</a></li>
<li><a href="http://webenlance.com">Təklif və şikayətlər</a></li>

</ul>
</div>
</div>
</div>

<div class="container" style="width: 72%;">
<div class="row">
<div class="col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<li><a href="http://webenlance.com">Saytın xəritəsi </a></li>
<li><a href="http://webenlance.com">Məxfilik haqqında bəyənat </a></li>
<li><a href="http://webenlance.com">İstifadə Qaydaları</a></li>
</ul>
</div>

<div class="col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<div>Əlaqə</div>
<div>13, Yusif Məmmədəliyev küç.</div>
<div>Bakı, AZ1005, Azərbaycan</div>
<br>
<div>Korporativ müştərilər üçün:</div>
<div>*8123 / (+994 12) 496 50 04</div>
<br>
<div>Fərdi müştərilər üçün:</div>
<div>*9123 / (+99 412) 496 50 00</div>
<br>
<div>Baş ofis: (+994 12) 496 51 00</div>
<div>F: (+994 12) 496 50 10</div>
<div>E: customer.care@pashabank.az</div>
</ul>
</div>

<div class="col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<div>Bizimlə əlaqə saxlayın</div>
<div>Ən son məlumatları buradan izləyin:</div>
<br>
<div class="social_footer_ul">
    <li><a href="https://www.facebook.com/pashabank/"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://twitter.com/pashabank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/pasha-bank/"><i class="fab fa-linkedin"></i></a></li>
</div>
<br>
<div>Mobil əlavəni yükləmək:</div>
<br>
<div class="social_footer_ul">
<li><a href="https://apps.apple.com/az/app/pasha-mobile-bank/id1139683794"><i class="fab fa-apple"></i></i></a></li>
<li><a href="https://play.google.com/store/apps/details?id=az.pasha.mobilebank"><i class="fab fa-android"></i></a></li>
</div>
</ul>
</div>

<div class="col-sm-4 col-md  col-6 col headin5_amrc col_white_amrc pt2">
<ul class="footer_ul_amrc">
<div>Bank Azərbaycan Respublikası Mərkəzi Bankının 250 saylı 28 noyabr 2007-ci il tarixli lisenziyası əsasında fəaliyyət göstərir</div>
<br>
<div>© 2007-2021 PASHA Bank</div>
<br>
<div>Powered by MediaDesign</div>
</ul>
</div>

</div>
</div>


</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    