<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link href="../static/css/header.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/footer.css">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/search.css">
<link rel="stylesheet" href="../static/css/service.css">
<link rel="stylesheet" href="../static/css/exchange.css">
<link rel="stylesheet" href="../static/css/allnews.css">
<link rel="stylesheet" href="../static/css/press.css">
<link href="../static/css/news.css" rel="stylesheet">
<link href="../static/css/queue.css" rel="stylesheet">
<link href="../static/css/new_queue.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="custom">
            <div class="row">
                <div class="col-12">
                    <nav class="row mt-3">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-4">
                                    <div class="logo_az">
                                        <a href="/main" title="PAŞABank">
                                            <img loading="lazy"
                                                src="https://www.pashabank.az/templates/images/pashabank-logo-az.svg"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <div class="lang-container">
                                        <a class="lang-item" href="#" style="color: gray;">AZ |</a>
                                        <a class="lang-item" href="#" style="text-decoration: none; color: #57B851;">EN |</a>
                                        <a class="lang-item" href="#"
                                            style="text-decoration: none; color: #57B851;">RU</a>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row h-100 d-flex align-items-center">
                                        <div class="col-12 d-flex align-items-center">
                                            <form class="search-box" action="/search" method="get">
                                                <input type="text" name="q" placeholder="Axtarış"
                                                    class="search-box-query-input">
                                                <button type="submit" class="fas fa-search h-100 search-icon"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7 d-flex justify-content-center align-items-center">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row d-flex justify-content-center collapse navbar-collapse"
                                        id="navbarScroll">
                                        <div class="col-12">
                                            <ul class="my-0 d-flex align-items-center nav-list">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page" href="#">Müştəri olun
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/queue">Onlayn növbə</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#" tabindex="-1"
                                                        aria-disabled="true">Şəxsi Kabinet</a>
                                                </li>
                                                <li class="nav-item dropdown-menu-list-container">
                                                    <a class="nav-link" href="#">
                                                        Onlayn Bank
                                                    </a>
                                                    <i class="fas fa-caret-down" style="color: green;"></i>
                                                    <i class="fas fa-caret-up" style="color: green;"></i>
                                                    <ul class="p-1 my-0 dropdown-menu-list" style="z-index: 20;">
                                                        <li><a class="dropdown-item-list" href="#">Hüquqi şəxslər və
                                                                fərdi sahibkarlar</a>
                                                        </li>
                                                        <li><a class="dropdown-item-list" href="#">Fiziki şəxslər</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item-icon">
                                                    <a class="nav-link phone-nav-link" href="#" tabindex="-1"
                                                        aria-disabled="true">
                                                        <i class="fas fa-mobile-alt phone-icon"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="mb-0 mt-3 p-0 d-flex nav-pages" style="margin-right: 12px;">
                        <li class="nav-page-lists">
                            <a class="nav-down-lists" href="#">Haqqımızda</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-about">
                                <li class="link-about">
                                    <a href="#">Haqqımızda</a>
                                    <ul class="nav-down-lists-end-menu end-about-first">
                                        <li>
                                            <a href="">Bank haqqında</a>
                                        </li>
                                        <li>
                                            <a href="">PAŞA Bankın dividend siyasəti</a>
                                        </li>
                                        <li>
                                            <a href="">Korporativ video çarx</a>
                                        </li>
                                        <li>
                                            <a href="">Bank rekvizitləri</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Missiya və məqsədlər</a>
                                </li>
                                <li class="link-about">
                                    <a href="#">İdarəetmə</a>
                                    <ul class="nav-down-lists-end-menu end-about-second">
                                        <li>
                                            <a href="">Səhmdarlar</a>
                                        </li>
                                        <li>
                                            <a href="">Müşahidə Şurası</a>
                                        </li>
                                        <li>
                                            <a href="">İdarə Heyəti</a>
                                        </li>
                                        <li>
                                            <a href="">Baş Direktorlar</a>
                                        </li>
                                        <li>
                                            <a href="">Daxili Komitələr</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Struktur</a>
                                </li>
                                <li>
                                    <a href="#">Karyera</a>
                                </li>
                                <li>
                                    <a href="#">Əlaqə</a>
                                </li>
                                <li>
                                    <a href="#">Banklar arası müxbir əlaqələr</a>
                                </li>
                                <li>
                                    <a href="#">Sosial məsuliyyət</a>
                                </li>
                                <li class="link-about">
                                    <a href="#">Siyasət və hesabatlılıq</a>
                                    <ul class="nav-down-lists-end-menu end-about-third">
                                        <li>
                                            <a href="">Korporativ İdarəetmə üzrə məlumatların açıqlanması</a>
                                        </li>
                                        <li>
                                            <a href="">Korporativ standartlar</a>
                                        </li>
                                        <li>
                                            <a href="">Komplayns</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Maliyyə hesabatları</a>
                                </li>
                                <li>
                                    <a href="#">Davamlı inkişaf</a>
                                </li>
                                <li class="link-about">
                                    <a href="#">Risklərin idarə olunması</a>
                                    <ul class="nav-down-lists-end-menu end-about-fourth">
                                        <li>
                                            <a href="">Likvidlik riskləri</a>
                                        </li>
                                        <li>
                                            <a href="">Hüquqi risklər</a>
                                        </li>
                                        <li>
                                            <a href="">Əməliyyat riskləri</a>
                                        </li>
                                        <li>
                                            <a href="">Kredit riskləri</a>
                                        </li>
                                        <li>
                                            <a href="">Bazar riskləri</a>
                                        </li>
                                        <li>
                                            <a href="">Strateji risklər</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists">
                            <a class="nav-down-lists" href="#">Korporativ Bankçılıq</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-corp">
                                <li>
                                    <a href="">Hesablaşma-kassa xidmətləri</a>
                                </li>
                                <li class="link-corp">
                                    <a href="">Depozitlər</a>
                                    <ul class="nav-down-lists-end-menu end-corp-first">
                                        <li>
                                            <a href=" ">Cari hesab qalığına faizlərin hesablanması</a>
                                        </li>
                                        <li>
                                            <a href=" ">Müddətli Depozit</a>
                                        </li>
                                        <li>
                                            <a href=" ">Toplanan Faizlər (Kapitalizasiya) ilə Depozit</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=" ">İnkassasiya</a>
                                </li>
                                <li>
                                    <a href=" ">Bank Seyfləri</a>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Bank Kartları</a>
                                    <ul class="nav-down-lists-end-menu end-corp-second">
                                        <li>
                                            <a href=" ">Məvacib (Əməkhaqqı) Kartları</a>
                                        </li>
                                        <li>
                                            <a href=" ">Gömrük Kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Corporate Card</a>
                                        </li>
                                        <li>
                                            <a href=" ">Tacir kart</a>
                                        </li>
                                        <li>
                                            <a href=" ">SMS Məlumatlandırma xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Ödəniş kartların təhlükəsizliyi</a>
                                        </li>
                                        <li>
                                            <a href=" ">3D Secure xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Vergilərin ödənişlərinə cəlb olunan xidmətlər</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Korporativ Kreditləşmə</a>
                                    <ul class="nav-down-lists-end-menu end-corp-third">
                                        <li>
                                            <a href=" ">Cari hesab üzrə Overdraft</a>
                                        </li>
                                        <li>
                                            <a href=" ">Kredit Xətti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Korporativ Kreditlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Sahibkarlığa Kömək Milli Fondu hesabına kreditlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">İTİDF hesabına kreditləşmə</a>
                                        </li>
                                        <li>
                                            <a href=" ">Maliyyə təşkilatları üçün kredit proqramı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Kənd Təsərrüfatının maliyyələşdirilməsi (Aqrokreditlər)</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Faktorinq xidmətləri</a>
                                    <ul class="nav-down-lists-end-menu end-corp-fourth">
                                        <li>
                                            <a href=" ">Faktorinq xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Əks Faktorinq xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Beynəlxalq faktorinq xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Alış sifarişi əsasında maliyyələşmə</a>
                                        </li>
                                        <li>
                                            <a href=" ">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Sənədli Əməliyyatlar</a>
                                    <ul class="nav-down-lists-end-menu end-corp-fifth">
                                        <li>
                                            <a href=" ">Akkreditivlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bank Zəmanətləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Ticarətin (ixrac və idxal əməliyyatlarının) maliyyələşməsi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Ekvayrinq (POS Terminal) Xidmətləri</a>
                                    <ul class="nav-down-lists-end-menu end-corp-sixth">
                                        <li>
                                            <a href=" ">Tacir Kart məhsulu</a>
                                        </li>
                                        <li>
                                            <a href=" ">POS terminal xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Təmassız POS terminal xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">POS terminalın kassa aparatı ilə inteqrasiyası</a>
                                        </li>
                                        <li>
                                            <a href=" ">E-Commerce (Virtual POS)</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Distant bank xidmətləri</a>
                                    <ul class="nav-down-lists-end-menu end-corp-seventh">
                                        <li>
                                            <a href=" ">B2B Platforması</a>
                                        </li>
                                        <li>
                                            <a href=" ">İnternet Bank</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bankomat (ATM) xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Avtomatik valyuta dəyişmə terminalı</a>
                                        </li>
                                        <li>
                                            <a href=" ">MilliÖN terminalından ödənişlər</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-corp">
                                    <a href=" ">Qeyri-maliyyə xidmətləri</a>
                                    <ul class="nav-down-lists-end-menu end-corp-eigth">
                                        <li>
                                            <a href=" ">Bulud CRM</a>
                                        </li>
                                        <li>
                                            <a href=" ">ÇatBot</a>
                                        </li>
                                        <li>
                                            <a href=" ">Elektron-ticarət üçün mobil tətbiq</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=" ">Ümumi Şərtlər Toplusu və ona əlavələr</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">Kiçik və Orta Biznes</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-buis">
                                <li class="link-buis">
                                    <a href=" ">Biznes üçün xidmətlər</a>
                                    <ul class="nav-down-lists-end-menu end-buis-first">
                                        <li>
                                            <a href=" ">Biznes üçün hesab</a>
                                        </li>
                                        <li>
                                            <a href=" ">Əməkhaqqı layihəsi</a>
                                        </li>
                                        <li>
                                            <a href=" ">Ödənişlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Biznes kartlar</a>
                                        </li>
                                        <li>
                                            <a href=" ">POS–terminal və E–kassa</a>
                                        </li>
                                        <li>
                                            <a href=" ">Elektron ticarət</a>
                                        </li>
                                        <li>
                                            <a href=" ">Linklə ödəniş</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-buis">
                                    <a href=" ">Kreditlər</a>
                                    <ul class="nav-down-lists-end-menu end-buis-second">
                                        <li>
                                            <a href=" ">Onlayn biznes kreditləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Biznes kreditləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Kredit xətti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Gömrük kartı üzrə kredit xətti</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-buis">
                                    <a href=" ">Faktorinq</a>
                                    <ul class="nav-down-lists-end-menu end-buis-third">
                                        <li>
                                            <a href=" ">İnvoysların maliyyələşdirilməsi</a>
                                        </li>
                                        <li>
                                            <a href=" ">Alış sifarişi əsasında maliyyələşmə</a>
                                        </li>
                                        <li>
                                            <a href=" ">Təchizat zəncirinin maliyyələşdirilməsi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-buis">
                                    <a href=" ">Sənədli əməliyyatlar</a>
                                    <ul class="nav-down-lists-end-menu end-buis-fourth">
                                        <li>
                                            <a href=" ">Ekspress-Tender qarantiyası</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bank qarantiyası</a>
                                        </li>
                                        <li>
                                            <a href=" ">Akkreditiv</a>
                                        </li>
                                        <li>
                                            <a href=" ">İnkasso</a>
                                        </li>
                                        <li>
                                            <a href=" ">Ticarətin maliyyələşdirilməsi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-buis">
                                    <a href=" ">Əlavə xidmətlər</a>
                                    <ul class="nav-down-lists-end-menu end-buis-fifth">
                                        <li>
                                            <a href=" ">İnkassasiya</a>
                                        </li>
                                        <li>
                                            <a href=" ">Depozitlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bank seyfləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bulud CRM</a>
                                        </li>
                                        <li>
                                            <a href=" ">ÇatBot</a>
                                        </li>
                                        <li>
                                            <a href=" ">Elektron-ticarət üçün mobil tətbiq</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">İnvestisiya Bankçılığı</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-inv">
                                <li>
                                    <a href=" ">Səhmlərin buraxılması, idarə olunması və alınması</a>
                                </li>
                                <li>
                                    <a href=" ">İstiqrazların buraxılması, idarə olunması və alınması</a>
                                </li>
                                <li>
                                    <a href=" ">Qapalı yerləşdirmə</a>
                                </li>
                                <li>
                                    <a href=" ">Maliyyə məsləhətlərinin verilməsi</a>
                                </li>
                                <li>
                                    <a href=" ">Valyuta mübadiləsi</a>
                                </li>
                                <li>
                                    <a href=" ">Törəmə maliyyə alətləri (derivativlər)</a>
                                </li>
                                <li>
                                    <a href=" ">Qiymətli kağızların alışı və satışının icra edilməsi</a>
                                </li>
                                <li>
                                    <a href=" ">Qiymətli kağızların alışı və satışı üzrə əqdlər</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">Maliyyə İnstitutları</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-fin">
                                <li>
                                    <a href=" ">Müxbir hesablar</a>
                                </li>
                                <li>
                                    <a href=" ">Valyuta Mübadilə Əməliyyatları</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">Fərdi Bankçılıq</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-ind">
                                <li class="link-ind">
                                    <a href=" ">Private Banking</a>
                                    <ul class="nav-down-lists-end-menu end-ind-first">
                                        <li>
                                            <a href=" ">Plastik kartlar</a>
                                        </li>
                                        <li>
                                            <a href=" ">Portfelin idarə edilməsi</a>
                                        </li>
                                        <li>
                                            <a href=" ">Yerli şirkətlərin istiqrazları</a>
                                        </li>
                                        <li>
                                            <a href=" ">Fərdi seyflər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Beynəlxalq bankçılıq</a>
                                        </li>
                                        <li>
                                            <a href=" ">Qiymətli metallar hesabı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Depozit hesabları</a>
                                        </li>
                                        <li>
                                            <a href=" ">Maliyyələşdirmə xətləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Vəsaitlərin idarəedilməsi</a>
                                        </li>
                                        <li>
                                            <a href=" ">Qeyri-maliyyə xidmətləri</a>
                                        </li>
                                        <li>
                                            <a href=" ">Qlobal konsyerj xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Vergilərin planlaşdırılması</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=" ">Hesablaşma-kassa xidmətləri</a>
                                </li>
                                <li>
                                    <a href=" ">Depozitlər</a>
                                </li>
                                <li>
                                    <a href=" ">Bank Seyfləri</a>
                                </li>
                                <li class="link-ind">
                                    <a href=" ">Bank Kartları</a>
                                    <ul class="nav-down-lists-end-menu end-ind-second">
                                        <li>
                                            <a href=" ">Məvacib (Əməkhaqqı) Kartları</a>
                                        </li>
                                        <li>
                                            <a href=" ">Debit kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Güzəşt müddətli kredit kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Depozit kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Depozit təminatı ilə verilən güzəşt müddətli kredit kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">Ödəniş kartların təhlükəsizliyi</a>
                                        </li>
                                        <li>
                                            <a href=" ">Vergilərin ödənişlərinə cəlb olunan xidmətlər</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="link-ind">
                                    <a href=" ">Distant bank xidmətləri</a>
                                    <ul class="nav-down-lists-end-menu end-ind-third">
                                        <li>
                                            <a href=" ">İnternet Bank</a>
                                        </li>
                                        <li>
                                            <a href=" ">Bankomat (ATM) xidməti</a>
                                        </li>
                                        <li>
                                            <a href=" ">Avtomatik valyuta dəyişmə terminalı</a>
                                        </li>
                                        <li>
                                            <a href=" ">MilliÖN terminalından ödənişlər</a>
                                        </li>
                                        <li>
                                            <a href=" ">Fərdi müştərilər üçün Mobil əlavə</a>
                                        </li>
                                        <li>
                                            <a href=" ">Kartın sifarişi</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=" ">Əlaqə Mərkəzi</a>
                                </li>
                                <li class="link-ind">
                                    <a href=" ">Kreditlər</a>
                                    <ul class="nav-down-lists-end-menu end-ind-fourth">
                                        <li>
                                            <a href=" ">Avans Kredit</a>
                                        </li>
                                        <li>
                                            <a href=" ">Nağd kredit</a>
                                        </li>
                                        <li>
                                            <a href=" ">Güzəşt müddətli kredit kartı</a>
                                        </li>
                                        <li>
                                            <a href=" ">İpoteka krediti</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href=" ">Fərdi müştərilər üçün Mobil əlavə</a>
                                </li>
                                <li>
                                    <a href=" ">Endirim Platforması</a>
                                </li>
                                <li>
                                    <a href=" ">Onlayn xidmətlər</a>
                                </li>
                                <li>
                                    <a href=" ">Ümumi Şərtlər Toplusu və ona əlavələr</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="/news ">Xəbərlər</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-news">
                                <li>
                                    <a href="/press/1">Press-relizlər</a>
                                </li>
                                <li>
                                    <a href="/bulleten/1">Bülleten</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">Onlayn xidmətlər</a>
                        </li>
                        <li class="nav-page-lists ">
                            <a class="nav-down-lists " href="# ">Əlaqə</a>
                            <ul class="p-0 m-0 nav-down-lists-sub-menu sub-contact">
                                <li>
                                    <a href=" ">Ünvan</a>
                                </li>
                                <li>
                                    <a href=" ">Müxbir əlaqələr</a>
                                </li>
                                <li>
                                    <a href=" ">Təklif və Şikayətlər</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js "
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj "
        crossorigin="anonymous "></script>

    {% block header %}

    {% endblock %}

    {% extends "footer.html" %}