{% extends "header.html" %}
{% block header %}

<div style="background-color: #C70B30;">
    <div class="esas">Siz hazırda buradasınız / <a href="/main" style="color: #fff; text-decoration: none;">Əsas</a>  / Xəbərlər</div>
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://www.pashabank.az/uploads/category/hero_images_pashabank_news_01.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 300px;">
        <div class="carousel-caption d-none d-md-block" style="margin-bottom: 100px;">
            <img src="https://www.pashabank.az/templates/images/from_home_a_v_1_01.png" alt="">
            <div style="display: flex;">
                <div class="sol-xett"></div>
                <h5 class="zirve">Xəbərlər</h5>
                <div class="sag-xett"></div>
            </div>
        </div>
    </div>
</div>


<div id="content">
    <div id="content-inner">
        <div class="listing-a-blocks-outer">
            <div class="listing-a-blocks">
                <div class="listing-a-blocks-instance  ">
                    <div class="listing-a-blocks-instance-icon"><img loading="lazy"
                            src="https://www.pashabank.az/uploads/category/thumbs/from_corp_news_and_sights_a_v_01_01.png"
                            alt=""></div><a href="/press/1"
                        title="Press-relizlər">
                        <h3>Press-relizlər</h3>
                    </a>
                    <div class="listing-a-blocks-instance-inner"></div>
                </div>
                <div class="listing-a-blocks-instance ">
                    <div class="listing-a-blocks-instance-icon"><img loading="lazy"
                            src="https://www.pashabank.az/uploads/category/thumbs/from_corp_news_and_sights_a_v_01_01_1524030480.png"
                            alt=""></div><a href="/bulleten/1" title="Bülleten">
                        <h3>Bülleten</h3>
                    </a>
                    <div class="listing-a-blocks-instance-inner"></div>
                </div>
                <div class="clearer"></div>
            </div>
        </div>
        <div class="both-box">
            <div>
                <div class="clearer"></div>
            </div>
            <div class="clearer"></div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

{% endblock %}
</body>

</html>